.field {
  @apply relative bg-gray-400 px-6 py-2 flex justify-between items-center border-2;
  border-color: transparent;
  flex: 1 0;

  input {
    @apply border-none outline-none focus:outline-none text-lg text-black w-[180px];
    background: transparent;

    &::placeholder {
      @apply text-gray-500;
      background-color: transparent;
    }
  }
}

.isFocused {
  @apply border-primary;
  span {
    @apply text-primary;
  }
}

.errorBorder {
  @apply border-red-600;
  span {
    @apply text-red-600;
  }
}
